

body{
    background-image: url(download.jpg);
    background-size: cover;
}

.style{
    margin-left: 400px
}

.move{
 
}

.move1{
    margin-left: 200px;
    
}

.move2{
    margin-left: 400px;
}

.move3{
    margin-left: 400px;
}

